{ 
    "trailingComma": "all",
    "tabWidth": 2, 
    "singleQuote": true, 
    "bracketSameLine": true,
    "jsxSingleQuote": true,
    "bracketSpacing": true,
    "printWidth": 120,
    "semi": true,
    "arrowParens": "avoid",
    "parser": "babel-ts"
  }
  